.card {
     position: relative;
     width: 600px;
     height: 700px;
     background-color: black;
     padding-right: 5%;
     padding-left: 5%;
     padding-top: 5%;
     border-radius: 5% ;
     margin-left: 350px;
     margin-top: 20px;

    
  }

  .apple {
    color: blue;
  }

  .google {
    color: blueviolet;
  }
  
  @media only screen and (max-width: 620px) {
    .card {
      width: 90vw;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media only screen and (max-height: 670px) {
    .card {
      height: 650px;
    }
  }